*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(240, 240, 240);
  color: rgba(0,0,0,.9);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}


.defineME h1{
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: justify;
  position: relative;
  background: -webkit-linear-gradient(#dee4de, #e0dae2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientbg{
  background-image: url("/img/IMG_6418.jpg"); background-position: top; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 200px;
}

#bootstrap-overrides nav{
  font-size: 18px;
}

.row{
  padding-top: 100px;
  padding-bottom: 100px;
}
h1{
  font-weight: 900;
  font-size: 60px;
}
h2{
  font-weight: 700;
  font-size: 40px;
  font-style: italic;
}

h4{
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 16px 0;
  color: #5e5e5e;
}
h5{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin: 16px 0;
}
h6{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

p.weak{
  color: rgb(94, 94, 94);
  letter-spacing: 0.6px;
  font-weight: 400;
  margin: 24px 0 4px 0;
  
}
p, li{
  letter-spacing: 0.25px;
}
b{
  font-weight: 600;
}
a{
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

small{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
video{
  width: 100%;
  max-width: 100%;
  height: auto;
}
img{
  width: 100%;
}
.overlinehr{
  width: 48px;
  height: 0.1px;
  background: rgba(0, 0, 0, 0.4);
}



/* ------------------------------------project card-------------------------------------------*/
.pjt-card{
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}
.pjt-content{
  margin: 16px;
}
.pjt-card:hover{
  position: relative;
  top: -8px;
  transition: 0.3s;
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 14px 32px 0 rgba(0, 0, 0, 0.1);
}




/* ------------------------------------flip card----------------------------------------------*/
.flip-card {
  margin: 15px;
  padding: 0px;
  background-color: transparent;
  width: 210px;
  height: 210px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  border-radius: 4px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: rgb(126, 126, 126);
  border: 1px solid rgb(213, 224, 224);
  background-color: rgb(230, 230, 225);
  
  border-radius: 4px;
}

.flip-card-front h3{
  line-height: 200px;
  font-size: 20px;
}

.flip-card-back {
  background-image: linear-gradient( rgb(213, 215, 224), rgb(224, 213, 223));
  border-radius: 4px;
  transform: rotateY(180deg);
}

.flip-card-back p{
  font-size: 14px;
  color: #383838;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*--------------------------------------------Modal-------------------------------------------*/

.modal-card {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 15px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid rgb(213, 224, 224);
  border-radius: 4px;
}
.modal-card img{
  padding: 20px;
  max-height: 250px;

}
.modal-card:hover{
  cursor: pointer;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~other necessary things~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#myBtn {
  height: 40px;
  width: 40px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 24px; /* Place the button at the bottom of the page */
  right: 24px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255); /* Set a background color */
  color: #605B5B; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 0; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  line-height: 20px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.884); /* Add a dark-grey background on hover */
  color: #ececec;
}

h5 a{
  color: black;
}
footer{
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
  height: 80px;
  color: #aaaaaa;
  background-color: black;
  padding: 16px 0;
}
footer a{
  color: #aaaaaa;

}

  
  .video-responsive-container iframe, .video-responsive-container object, .video-responsive-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }



