*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(254, 254, 254);
  color: #555555;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


.defineME{
  margin-top: 32px;
  /*font-family: 'Caveat', cursive;*/
  font-weight: 500;
}
.defineME h1{
  font-size: 6vw;
}
h1{
  color: rgba(0, 0, 0, 0.932);
}
h3{
  /*font-family: 'Caveat', cursive;*/
}
#bootstrap-overrides nav{
  font-size: 18px;
  font-weight: 500;
}

.row{
  padding-top: 100px;
  padding-bottom: 100px;
}

h2, h4, h5, h6, li{

}
h6{
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.1px;
}
p, li{
  font-family: 'Proza Libre', sans-serif;
  letter-spacing: 0.25px;
}
b{
  font-weight: 500;
}
a{
  color: #ae3299;
  text-decoration: none;
}

small{
  font-size: 12px;
}
video{
  width: 100%;
  max-width: 100%;
  height: auto;
}
img{
  width: 100%;
}
hr{
  border: 2px solid #555555;
}



/* ------------------------------------project card-------------------------------------------*/
.pjt-card{
}
.pjt-card p{
  color: #7a7a7a;
}
.pjt-card hr{
  border: 1px solid rgb(170, 170, 170);
  margin: 50px 0;
}



/* ------------------------------------flip card----------------------------------------------*/
.flip-card {
  margin: 15px;
  padding: 0px;
  background-color: transparent;
  width: 210px;
  height: 210px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  border-radius: 4px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: rgb(201, 201, 201);
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.flip-card-front h3{
  line-height: 200px;
  font-size: 20px;
}

.flip-card-back {
  background-color: rgb(246, 241, 247);
  background-image: linear-gradient( #bb9f91, #aa8776);
  border-radius: 4px;
  transform: rotateY(180deg);
}

.flip-card-back p{
  font-size: 14px;
  color: #fff5fd;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*--------------------------------------------Modal-------------------------------------------*/

.modal-card {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 15px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
}
.modal-card img{
  padding: 20px;
  max-height: 250px;

}
.modal-card:hover{
  cursor: pointer;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~other necessary things~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.521); /* Set a background color */
  color: #605B5B; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  line-height: 20px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.884); /* Add a dark-grey background on hover */
  color: #ececec;
}

h5 a{
  color: black;
}
footer{
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
  height: 80px;
  color: #aaaaaa;
  background-color: black;
  padding: 16px 0;
}
footer a{
  color: #aaaaaa;

}

  
  .video-responsive-container iframe, .video-responsive-container object, .video-responsive-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }



